# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Testing
coverage/
playwright-report/
test-results/

# Env
.env
.env.local
.env.*.local
!.env.example

# Prisma
packages/db/prisma/*.db

# Embedded Postgres data dir
packages/db/.pgdata/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Misc
.vercel
.sentryclirc

.vercel
.env*
